body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.form-wrapper {
    background-color: #fdf5e6;
    padding: 20px 30px;
    width: 250px;
    border-radius: 4px;
}

.input-group {
    display: flex; 
    flex-direction: column;
    margin: 12px 0px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin: 12px 0px;
}

.checkbox-group label {
    margin-right: 5px;
}

label {
    font-weight: bold;
    margin-bottom: 4px;
}

input[type="text"], input[type="password"] {
    font-size: 1.1em;
    padding: 4px;
    border: 1px solid #a9a9a9;
    border-radius: 3px;
}

.submit-btn {
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    font-size: 1.1em;
    background-color: #e0e0e0;
    padding: 6px 16px;
    width: 100%;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: #d0d0d0;
}

.forgot-link {
    text-align: right;
    margin-top: 10px;
}

.forgot-link a {
    color: blue;
    text-decoration: underline;
    font-size: 0.9em;
}